---
// src/components/WhatsappButton.astro
---
<!-- <a href="https://wa.me/56963093029" class="whatsapp-float" target="_blank" rel="noopener noreferrer" aria-label="Contactar por WhatsApp">
    <i class="ph ph-whatsapp-logo"></i>
</a> -->